.ant-page-header{
    padding-left: 5%;
    padding-right: 5%;
}
.search-bar-custom{
    width: 250px !important;
    height: 50px;
    border-radius: 20px;
    background: #F8F8F8;
    border: none;
}
.search-bar-custom input{
    background: #F8F8F8;
}
.notifications-custom{
    margin: 0 !important;
    padding: 0 !important;
}
.notifications-custom .ant-dropdown-trigger{  
    margin-top: 15px;
    background: #F8F8F8 ;
    border: none;
    padding: 5px !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    border-top-left-radius: 50% !important;
}
.custom-sidebar{
    z-index: 1;
    margin-top: -30px;
}





