.full-image .ant-image{
 min-width: 100%;
}
.add-picture-camere{
    position: absolute;
    top: 20px;
    font-size: 30px;
    right: 100px;
    color: black;
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;

}