.selection-image-round{
    border-radius: 50%;
    max-width: 250px;
    min-width: 180px;
    margin: auto;
}


.selection-image-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.skip-button{
    background: none;
    border: none;
}
.selection-border{
    box-shadow: 1px -1px 34px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 34px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 34px -2px rgba(0,0,0,0.75);
}
.h-100vh{
    height: 100vh !important;
}











